.slider {
  @apply flex flex-col relative mt-10;
}

.slider-item {
  width: 800px;
  min-width: 800px;
}

.slider-content {
  @apply z-10 flex items-center justify-center w-[100vw] gap-10 ipadPro:gap-9 ipad:gap-6 mobile:gap-5;
}

@media (min-width: 835px) {
  .slider-navigation {
    @apply justify-between absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%];
  }
}

.slider-navigation {
  @apply z-10 flex items-center justify-end gap-4 ipadPro:mt-5 w-[90%];
}

.slider-nav-button {
  @apply bg-white rounded-full w-[48px] h-[48px] flex items-center justify-center;
}

.slider-item .top {
  border-bottom: none;
  @apply flex justify-between items-center bg-white p-10 rounded-t-md;
}

.slider-item .bottom {
  border-top: none;
  @apply flex flex-col gap-10 bg-light px-20 pt-10 pb-20 rounded-b-md;
}

.slider-item .bottom-content {
  font-size: 26px;
  line-height: 35px;
}

.slider-item .bottom-extra {
  @apply flex gap-3;
}

.slider-item .person {
  @apply flex gap-5 items-center;
}

.slider-item .person h4 {
  @apply font-semibold text-gray;
}

.slider-item .bottom-extra p,
.slider-item .person h4,
.slider-item .person p {
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 834px) {
  .slider-item .top {
    @apply p-8;
  }

  .slider-item .bottom {
    @apply px-10 py-8;
  }

  .slider-item {
    width: 700px;
    min-width: 700px;
  }

  .slider-item .bottom-content {
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 768px) {
  .slider-item .top {
    @apply p-7;
  }

  .slider-item .bottom {
    @apply p-7;
  }

  .slider-item {
    width: 375px;
    min-width: 375px;
  }
}

@media (max-width: 375px) {
  .slider-item {
    width: 335px;
    min-width: 335px;
  }
}
