.small-divider {
  width: 27px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.divider {
  width: 100%;
}

.about-body {
  @apply text-base;
}

.about-card {
  width: 100%;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 24px auto;
  @apply desktop:grid-cols-2 ipadPro:grid-cols-1;
}

.scholarship-value {
  grid-area: 1 / 1 / 4 / 2;
}

.study-commitment {
  grid-area: 1 / 2 / 2 / 3;
}

.work-commitment {
  grid-area: 1 / 3 / 2 / 4;
}

.graduation {
  grid-area: 2 / 2 / 3 / 4;
}

.a-full-time-contract {
  grid-area: 3 / 2 / 4 / 4;
}

@media (max-width: 1342px) {
  .scholarship-value {
    grid-area: 1 / 1 / 2 / 3;
  }

  .study-commitment {
    grid-area: 2 / 1 / 3 / 2;
  }

  .work-commitment {
    grid-area: 2 / 2 / 3 / 3;
  }

  .graduation {
    grid-area: 3 / 1 / 4 / 3;
  }

  .a-full-time-contract {
    grid-area: 4 / 1 / 5 / 3;
  }

  .grid-section {
    grid-template-rows: auto;
  }
}

@media (max-width: 834px) {
  .scholarship-value,
  .study-commitment,
  .work-commitment,
  .graduation,
  .a-full-time-contract {
    grid-area: auto;
  }
}
