.card {
  padding: 40px 50px;
  border-radius: 5px;
}

.card-borders {
  border: 1px solid #dadada;
}

.card h3 {
  @apply text-primary font-bold text-base mb-3;
}

.card-content {
  @apply text-base;
}
