.cta-apply-now {
  box-shadow: 0 0 4px 1px #22222287;
  padding: 30px;
  width: 120px;
  height: 120px;
  @apply uppercase text-lg font-bold flex items-center justify-center text-center bg-secondary rounded-full;
}
