@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

p {
  font-size: 22px;
  line-height: 32px;
  @apply text-gray;
}

hr {
  border: 1px solid #dadada;
}

h2 {
  @apply font-semibold text-primary text-5xl ipadPro:text-4xl;
}

.center-vertical {
  top: 50%;
  transform: translateY(-50%);
}

.full-centered {
  left: 50%;
  top: 50%;
  @apply -translate-y-[50%] -translate-x-[50%];
}

.cta-primary {
  padding: 15px 40px;
  border-radius: 100px;
  font-size: 18px;
  @apply bg-primary text-white font-semibold;
}

.section {
  padding: 0 200px;
  min-height: 80vh;
  min-height: 80svh;
  @apply desktop:px-20 ipadPro:px-10 ipad:px-5 mobile:px-3;
}
